
main
{
    text-align: center left;
}


header {
    background-image: url(./img/backgroundheader.png);
    width: 100%;
    height: 100%;
    background-color: rgb(89 157 235);
}

.logo {
    width: 200px;
    height: 300px;
}

.copyright 
{
    text-align: left;
    margin-top: 20px;
}

.evidenziato
{
background:#FFFF00; 
}